.right {
    text-align: right;
}
table {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
th {
 padding: 10px;
 background: #e9faf9;
 border: solid 1px #778ca3;
}
td {
 padding: 10px;
 border: solid 1px #778ca3;
}

.error {
    display: block;
    height: 16px;
    margin-top: -16px;
}
.container {
    margin-top: 24px;
}